.center{
    text-align: center;
}

ul{
    list-style: none;
    padding: 0;
}

#footer img{
    display: inline;
    width: 250px;
    height: 80px;
}

#footer{
    width: 100%;
    border-top: solid 2px #000000;
    position: fixed;
    background: white;
    bottom: 0;
}


#guesses li{
    font-size: 40px;
    padding: 0 20px;
    display: inline;
    border: 1px solid white;
    border-radius: 20%;
    color: white;
    box-shadow: 3px 3px 3px white;
}

#input-parent{
    width: 160px;
    margin: 5% auto 50px;
    position: relative;
}

#footer h4{
    margin: 30px;
}


#player-input{
    height: 160px;
    width: 160px;
    border-radius: 50%;
    font-size: 44px;
}

#submit{
    height: 65px;
    width: 65px;
    border-radius: 50%;
    position: absolute;
    left: 110px;
    top: 110px;
}

input:focus{
    outline: none;
}

#wrapper{
    height: 100vh;
    background: url(bluebg.jpg);
    z-index: -1;
}

#header{
    color: whitesmoke;
    font-family: 'Spicy Rice', cursive;
}

#penguin{
    position: fixed;
    bottom: 100px;
    right: 30px;
    height: 150px;
    width: 150px;
}

#dragon{
    position: fixed;
    bottom: 90px;
    left: 30px;
    height: 170px;
    width: 170px;
}

#leftChat{
    display: none;
    position: fixed;
    bottom: 200px;
    left: 140px;
    height: 220px;
    width: 300px;
    z-index: 1;
}

#textboxL{
    display: none;
    font-family: 'Spicy Rice', cursive;
    font-size: 20px;
    color: rgb(223, 53, 53);
    padding: 20px;
    text-align: center;
    position: fixed;
    bottom: 300px;
    left: 190px;
    height: 100px;
    width: 180px;
    z-index: 2; 
}

#rightChat{
    display: none;
    position: fixed;
    bottom: 200px;
    right: 120px;
    height: 220px;
    width: 300px;
    z-index: 1;
}

#textboxR{
    font-family: 'Spicy Rice', cursive;
    font-size: 20px;
    color: rgb(43, 78, 196);
    display: none;
    padding: 20px;
    text-align: center;
    position: fixed;
    bottom: 300px;
    right: 170px;
    height: 100px;
    width: 180px;
    z-index: 2; 
}



